[submodule "qilin"]
	path = qilin
	url = git@github.com:Maksasj/qilin.git
[submodule "nue"]
	path = nue
	url = git@github.com:Maksasj/nue.git
[submodule "hoo"]
	path = hoo
	url = git@github.com:Maksasj/hoo.git
[submodule "mochi"]
	path = mochi
	url = git@github.com:Maksasj/mochi.git
